<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
</head>
<body>
	<h1>商品一覧</h1>
	
	<!-- 商品名の検索フォーム -->
	<form method="get" action="/items">
		商品名<input type="text" name="keyword" placeholder="商品名"/>
		<button>検索</button>
	</form>
	
	<form method="get" action="/items">
		<input type="number" name="maxPrice"  th:value="${maxPrice}" >円以下
		<button>検索</button>
	</form>
	
	<!-- 書き方 -->
	<!-- <a href="/items">全商品</a> -->
	
	<!-- <a href="/「ぱす」 ? 「リクエストパラメータ」>～"</a> -->
	
	<a href="/items">全商品</a>
	<a th:each="category:${categoryList}"
		th:href="@{/items(categoryId=${category.id})}"
		th:text="${category.name}"
		style="margin-right: 5px;"></a>
		
	
	<!-- Step4：安い順リンク追加 -->
	<a th:href="|/items?sort=priceAsc&keyword=${keyword}&maxPrice=${(maxPrice==null)?'':maxPrice}|">安い順</a>
		
	<table border="1">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>値段</th>	
		</tr>
		
		<tr th:each="item : ${itemList}">
			<td>[[${item.id}]]</td>
			<td>[[${item.name}]]</td>
			<td>[[${item.price}]]</td>
		</tr>
	</table>
</body>
</html>